<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phaser with EJS</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
</head>

<body>

    <script>
        // Phaser Oyun Ayarları
        const config = {
            type: Phaser.AUTO,
            width: <%= gameWidth %>,
            height: <%= gameHeight %>,
            backgroundColor: '<%= backgroundColor %>',
            scene: {
                preload: preload,
                create: create,
            },
        };
        const game = new Phaser.Game(config);
        function preload() {
            this.load.image('logo', '<%= parts[1].image %>');
        }
        function create() {
            this.add.image(config.width / 2, config.height / 2, 'logo');
        }
    </script>
</body>

</html>