<%- include('../partials/_header') %>
<div class="column is-half is-offset-one-quarter">
    <!-- <p><%=//dynamicModule.testfnc() %></p> -->
    <%- include('../partials/_makaleCard',{makale,index: undefined}) %>
</div>