<% 
let yukseklik = '';
if(index == undefined){
  yukseklik = '600';
}else{
  index = index % 10;
  yukseklik = "60" + index;
}

%>
 

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://picsum.photos/600/<%=yukseklik%>"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://bulma.io/assets/images/placeholders/96x96.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%- makale.title.rendered  %></p>
          <p class="subtitle is-6">Lütfi Emre OKCULARLI</p>
        </div>
      </div>
  
      <div class="content">
        <%- index == undefined ? makale.content.rendered : makale.excerpt.rendered.slice(0,10)  %>
        <% if (index != undefined) { %>
          <a href="/blog/<%= makale.id %>">Devamını Oku</a>
        <% } %>
        <br>
        <a>#LTA</a>. <a href="#">#Minticity</a>
        <a href="#">#responsive</a>
        <br />
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>