<%- include('../partials/_header') %>

<div class="columns is-multiline is-mobile">

    <% makaleler.forEach((makale,index)=> { %>
        <div class="column is-4">
            <%- include('../partials/_makaleCard',{makale,index}) %>
        </div>
        <% }) %>
</div>

<%
 const sayfaSayisi = sayfalama['x-wp-totalpages'];
 const toplamVeriSayisi = sayfalama['x-wp-total'];
 const aktifSayfa = aktifPage;
 
%>
<div class="column is-12">
    <%- include('../partials/_pagination',{sayfaSayisi,toplamVeriSayisi,aktifSayfa}) %>
</div>
